.container{
    width: 400px;
    padding: 1rem;
}


@media(min-width: 999px){
    .container{
        width: 800px;
        padding: 2rem;
    }
}

@media(max-width: 420px){

    .container{
        width: 300px;
    }

}