<div class="col mt-2">
    <div class="card">
        <img src="https://media.istockphoto.com/photos/still-life-of-computer-gaming-with-headset-lying-on-keyboard-picture-id1190646203?s=612x612" class="card-img-top" alt="gamming">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
